{{#if (gt max 6)}}
	<input type="text"
		class="{{#if (gt max 5)}}supernaturalAttribute {{/if}}resource-value-input"
		inputmode="numeric"
		data-max="{{max}}"
		data-value="{{value}}"
		data-name="{{name}}"
		{{#if itemid}}data-itemid="{{itemid}}"{{/if}}
		{{#if statKey}}data-key="{{statKey}}"{{/if}}
		value="{{value}}"
		{{#if locked}}disabled{{/if}} />
{{else}}
	{{#numLoop max}}
		<span class="{{#if (gt ../max 5)}}supernaturalAttribute {{/if}}resource-value-step"
			data-action="editDot"
			data-type="{{../dotType}}"
			data-index="{{this}}"
			{{#if ../itemid}}data-itemid="{{../itemid}}" data-ability="core"{{/if}}></span>
	{{/numLoop}}
{{/if}}
